.new-user-registration {
    display: flex;
    flex-direction: column;
    height: 70%;
    padding: 104px 0;
    margin: 0 15%;
    box-shadow: 0 0 50px #0000001f;
    text-align: center;


}

.new-user-registration h1 {
    font-size: 50px;
    margin: 20px;
}

.reg-form {
    gap: 20px;
    margin: auto;
    width: 70%;
}


.registration-form {
    width: 100%;
    text-align: start;
}

.data {
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border: 3px solid #1457D2;
    outline: none;
    color: #1457D2;
    font-size: 20px;
    border-radius: 30px;
    background-color: #D2DFF7;
    padding: 0 20px;
}

.data::placeholder {
    color: #1457D2;
    font-size: 20px;
}


.status-check {
    font-size: 30px;
    color: #1457D2;
    margin-bottom: 20px;
}

.status-check input {
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
}


.next-btn {
    height: 50px;
    margin-top: 20px;
    border: none;
    background-color: #1457D2;
    border-radius: 30px;
    font-size: 30px;
    color: #fff;
    transition: 0.5s;
    align-self: center;
    width: 50%;
}

.next-btn:hover {
    background-color: #D2DFF7;
    color: #1457D2;

}

.reg-form {
    display: flex;
    justify-content: space-between;
}

.left-form {
    width: 40%;
    height: auto;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-event-img {
    height: 45%;
    background-color: #D2DFF7;
    border: 3px solid #1457D2;
    border-radius: 30px;
    color: #1457D2;
    font-size: 20px;
}

.add-event-discription {
    height: 45%;
    background-color: #D2DFF7;
    color: #1457D2;
    font-size: 20px;
    padding: 0 20px;
    border: 3px solid #1457D2;
    border-radius: 30px;
    outline: none;
}

.add-event-discription::placeholder {
    color: #1457D2;
}

.next-btn {
    align-self: center;
    width: 50%;
}