.event-card{
    position: relative;
    width: 280px;
    height: 420px;
    background-color: aqua;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    
}

.card-img{
    width: 100%;
    border-radius: 20px;
}

.event-card h1{
    font-size: 20px;
}

.card-discription{
    position: absolute;
    width: 100%;
    bottom: 20px;
}