.events {
    padding: 2.5vw;
    height: 100%;
    max-width: 70vw;
    margin: 0 15%;
    background-color: #fff;
    justify-content: space-around;
    box-shadow: 0 0 50px #0000001f;
}

.event-title {
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.event-title h1 {
    font-size: 70px;
}

.event-blok {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.event-search {
    width: 100%;
    position: relative;
}

.event-search input {
    height: 35px;
    color: #1457D2;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #D2DFF7;
    border: 4px solid #1457D2;
    border-radius: 30px;

    width: 93%;
    padding: 0 50px 0 10px;

}

.event-search input::placeholder {
    color: #1457D2;
    margin: 20px;
}

.event-search i {
    color: #1457D2;
    font-size: 30px;
    position: absolute;
    top: 15%;
    right: 1%;
}

.event-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.filter-list {

    width: 43%;
    margin: 10px 1px 0 0;
    padding: 10px;

    background-color: #D2DFF7;
    border-radius: 20px;
}

.filter-list h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.filter-list h2 {
    color: #1457D2;
    padding-bottom: 5px;
}

.filter-list p {
    font-size: 20px;
    padding-top: 5px;
}

.filter-btn {

    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: none;
    background-color: #1457D2;
    border-radius: 30px;
    font-size: 30px;
    color: #fff;
    transition: 0.5s;
}

.filter-btn:hover {
    background-color: #fff;
    color: #1457D2;

}

.actual-events {
    padding: 25px;
    display: flex;

}