.event-button button{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: none;
    background-color: #1457D2;
    border-radius: 30px;
    font-size: 30px;
    color: #fff;
    transition: 0.5s;   
}

.event-button button:hover{
    background-color: #fff;
    color: #1457D2;
    
}